In [76]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\pizza_sales\python env\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\pizza_sales\python env\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\pizza_sales\python env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\pizza_sales\python env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\pizza_sales\python env\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\user\pizza_sales\python env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

Data Cleaning

In [77]:
import pandas as pd

Loading the CSV in pandas

In [78]:
data=pd.read_csv('Uncleaned_DS_jobs.csv')

In [79]:
data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Removing index column

In [80]:
data.drop(columns='index', inplace=True,axis=1)

In [81]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Checking Errors in the Salary Estimate Column

In [82]:
data['Salary Estimate']

0      $137K-$171K (Glassdoor est.)
1      $137K-$171K (Glassdoor est.)
2      $137K-$171K (Glassdoor est.)
3      $137K-$171K (Glassdoor est.)
4      $137K-$171K (Glassdoor est.)
                   ...
667    $105K-$167K (Glassdoor est.)
668    $105K-$167K (Glassdoor est.)
669    $105K-$167K (Glassdoor est.)
670    $105K-$167K (Glassdoor est.)
671    $105K-$167K (Glassdoor est.)
Name: Salary Estimate, Length: 672, dtype: object

In [83]:
data['Salary Estimate'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
667    False
668    False
669    False
670    False
671    False
Name: Salary Estimate, Length: 672, dtype: bool

In [84]:
data['Salary Estimate'].isna().sum()

np.int64(0)

In [85]:
data['Salary Estimate'].isnull().sum()

np.int64(0)

In [86]:
data['Job Description']=data['Job Description'].astype(str).str.strip("\n")

Removal of \n from the data in Job Description column

In [87]:
data['Job Description'] = data['Job Description'].astype(str).str.replace("\n", " ")

Dropping the rating columns

In [88]:
data.drop(columns='Rating',inplace=True,axis=1)

In [89]:
data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description The Senior Data Scientist is resp...,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future Join th...",ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview Analysis Group is one of the larges...,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION: Do you have a passion for Da...,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist Affinity Solutions / Marketing ...,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Removing the \nX.x from the Company name columns

In [90]:
data['Company Name']=data['Company Name'].str.split("\n", n=1).str[0]

In [91]:
data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description The Senior Data Scientist is resp...,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future Join th...",ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview Analysis Group is one of the larges...,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION: Do you have a passion for Da...,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist Affinity Solutions / Marketing ...,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Removing the all the demoninations("K","$","Glassdppr est.") from the Salary Estimate column

In [92]:
data['Salary Estimate'] = data['Salary Estimate'].replace({'\$': '', 'K': '', ' \(Glassdoor est.\)': '','(Employer est.)':''}, regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\('
C:\Users\user\AppData\Local\Temp\ipykernel_8352\3996023398.py:1: SyntaxWarning: invalid escape sequence '\$'
  data['Salary Estimate'] = data['Salary Estimate'].replace({'\$': '', 'K': '', ' \(Glassdoor est.\)': '','(Employer est.)':''}, regex=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8352\3996023398.py:1: SyntaxWarning: invalid escape sequence '\('
  data['Salary Estimate'] = data['Salary Estimate'].replace({'\$': '', 'K': '', ' \(Glassdoor est.\)': '','(Employer est.)':''}, regex=True)

In [93]:
data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137-171,Description The Senior Data Scientist is resp...,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future Join th...",ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137-171,Overview Analysis Group is one of the larges...,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137-171,JOB DESCRIPTION: Do you have a passion for Da...,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137-171,Data Scientist Affinity Solutions / Marketing ...,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Checking for Errors in Location Column

In [94]:
data['Location'].isnull().sum()

np.int64(0)

Checking for Errors in Headqaurters Column

In [95]:
data['Headquarters'].isnull().sum()

np.int64(0)

Checking for Duplicates in the data

In [96]:
data.duplicated().sum()

np.int64(13)

In [97]:
mask=data.duplicated()
duplicates=data[data.duplicated()]

In [98]:
print(duplicates)

                     Job Title Salary Estimate  \
135  Machine Learning Engineer          90-109
136       Senior Data Engineer          90-109
358             Data Scientist         122-146
359             Data Scientist         122-146
360             Data Scientist         122-146
361             Data Scientist         122-146
362             Data Scientist         122-146
389             Data Scientist         110-163
496             Data Scientist          95-119
497             Data Scientist          95-119
498             Data Scientist          95-119
499             Data Scientist          95-119
500             Data Scientist          95-119

                                       Job Description    Company Name  \
135  Role Description Triplebyte screens and evalua...      Triplebyte
136  Lendio is looking to fill a position for a Sen...          Lendio
358  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
359  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
360  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
361  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
362  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
389  Job Description As a Data Scientist, you will ...          HireAi
496  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
497  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
498  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
499  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc
500  Job Overview: The Data Scientist is a key memb...  Hatch Data Inc

              Location       Headquarters                  Size  Founded  \
135             Remote  San Francisco, CA   51 to 200 employees     2015
136           Lehi, UT           Lehi, UT  201 to 500 employees     2011
358  San Francisco, CA                 -1                    -1       -1
359  San Francisco, CA                 -1                    -1       -1
360  San Francisco, CA                 -1                    -1       -1
361  San Francisco, CA                 -1                    -1       -1
362  San Francisco, CA                 -1                    -1       -1
389  San Francisco, CA                 -1                    -1       -1
496  San Francisco, CA                 -1                    -1       -1
497  San Francisco, CA                 -1                    -1       -1
498  San Francisco, CA                 -1                    -1       -1
499  San Francisco, CA                 -1                    -1       -1
500  San Francisco, CA                 -1                    -1       -1

     Type of ownership                      Industry                  Sector  \
135  Company - Private  Computer Hardware & Software  Information Technology
136  Company - Private                       Lending                 Finance
358                 -1                            -1                      -1
359                 -1                            -1                      -1
360                 -1                            -1                      -1
361                 -1                            -1                      -1
362                 -1                            -1                      -1
389                 -1                            -1                      -1
496                 -1                            -1                      -1
497                 -1                            -1                      -1
498                 -1                            -1                      -1
499                 -1                            -1                      -1
500                 -1                            -1                      -1

                       Revenue Competitors
135   Unknown / Non-Applicable          -1
136  $50 to $100 million (USD)          -1
358                         -1          -1
359                         -1          -1
360                         -1          -1
361                         -1          -1
362                         -1          -1
389                         -1          -1
496                         -1          -1
497                         -1          -1
498                         -1          -1
499                         -1          -1
500                         -1          -1

In [99]:
data=data.drop_duplicates()

In [100]:
data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137-171,Description The Senior Data Scientist is resp...,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future Join th...",ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137-171,Overview Analysis Group is one of the larges...,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137-171,JOB DESCRIPTION: Do you have a passion for Da...,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137-171,Data Scientist Affinity Solutions / Marketing ...,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Replacing Invalid values by NA in Size Column

In [101]:
data['Size'].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

In [102]:
data['Size']=data['Size'].replace(['-1','Unknown'],pd.NA)

In [103]:
data['Size']

0       1001 to 5000 employees
1      5001 to 10000 employees
2       1001 to 5000 employees
3        501 to 1000 employees
4          51 to 200 employees
                ...
667     1001 to 5000 employees
668                       <NA>
669                       <NA>
670          1 to 50 employees
671     1001 to 5000 employees
Name: Size, Length: 659, dtype: object

Replacing Invalid values by NA in Founded Column

In [104]:
data['Founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995,   -1,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962])

In [105]:
data['Founded']=data['Founded'].replace([-1],pd.NA)

In [106]:
data['Founded']

0      1993
1      1968
2      1981
3      2000
4      1998
       ...
667    1989
668    <NA>
669    <NA>
670    <NA>
671    1976
Name: Founded, Length: 659, dtype: object

Replacing Invalid values by NA in Type of Ownership Column

In [107]:
data['Type of ownership'].unique()

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', '-1',
       'Unknown', 'Hospital', 'Self-employed', 'College / University',
       'Contract'], dtype=object)

In [108]:
data['Type of ownership']=data['Type of ownership'].replace(['-1','Unknown'],pd.NA)

Replacing Invalid values by NA in Type of Industry Column

In [109]:
data['Industry'].unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', '-1', 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

In [110]:
data['Industry']=data['Industry'].replace(['-1'],pd.NA)

In [111]:
data['Industry'].unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', <NA>, 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

Replacing Invalid values by NA in Sector Column

In [112]:
data['Sector'].unique()

array(['Insurance', 'Business Services', 'Manufacturing',
       'Information Technology', 'Biotech & Pharmaceuticals', 'Retail',
       'Oil, Gas, Energy & Utilities', 'Government', 'Health Care',
       'Finance', 'Aerospace & Defense', '-1',
       'Transportation & Logistics', 'Media', 'Telecommunications',
       'Real Estate', 'Travel & Tourism', 'Agriculture & Forestry',
       'Education', 'Accounting & Legal', 'Non-Profit',
       'Construction, Repair & Maintenance', 'Consumer Services'],
      dtype=object)

In [113]:
data['Sector']=data['Sector'].replace(['-1'],pd.NA)

Replacing Invalid values by NA in Revenue Column

In [114]:
data['Revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)', '-1'], dtype=object)

In [115]:
data['Revenue']=data['Revenue'].replace(['-1'],pd.NA)

In [116]:
data['Revenue']

0        Unknown / Non-Applicable
1          $1 to $2 billion (USD)
2      $100 to $500 million (USD)
3      $100 to $500 million (USD)
4        Unknown / Non-Applicable
                  ...
667      Unknown / Non-Applicable
668                          <NA>
669                          <NA>
670        $1 to $5 million (USD)
671        $1 to $2 billion (USD)
Name: Revenue, Length: 659, dtype: object

In [117]:
data['Competitors'].unique()

array(['EmblemHealth, UnitedHealth Group, Aetna', '-1',
       'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies',
       'Commerce Signals, Cardlytics, Yodlee',
       'Square, PayPal, H&R Block',
       'Leidos, CACI International, Booz Allen Hamilton',
       'Slalom, Daugherty Business Solutions',
       'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory',
       'CDW, PCM, SHI International',
       'Crossix Solutions Inc., AppNexus, The Trade Desk',
       'Northwestern Mutual', 'Puppet, Ansible, SaltStack',
       'Enlivant, Sunrise Senior Living, Brookdale Senior Living',
       'TrueCar, Cars.com, Kelley Blue Book',
       'Travelers, Allstate, State Farm', 'Novartis, Baxter, Pfizer',
       'Skyhigh Networks, Zscaler, NortonLifeLock',
       'Facebook, Google, Pinterest', 'DoorDash, Uber, Grubhub',
       'Munich Re, Hannover RE, SCOR', "IMAGE Skincare, Aveda, Kiehl's",
       'Luxoft, EPAM, Capgemini Invent', 'Sequenom',
       'Linqia, Collective Bias', 'John Deere, Komatsu, CNH Industrial',
       'Thermo Fisher Scientific, Enzymatics, Illumina',
       'CUNA Mutual, SWBC, Overby-Seawell', 'Zola Registry',
       'Colony Specialty, Markel, RLI',
       'Roche, GlaxoSmithKline, Novartis',
       'Solution Design Group, Intertech (Minnesota)',
       'Braintree, Authorize.Net, PayPal', 'Nielsen, Zappi, SurveyMonkey',
       'The World Bank, IMF', 'Booz Allen Hamilton, CACI International',
       'Booz Allen Hamilton, SAIC, LMI', 'Epic, CipherHealth',
       'Copper River Shared Services, Chenega Corporation, Deloitte',
       'Battelle, General Atomics, SAIC', 'IQVIA, ICON',
       'Arbella Insurance, Safety Insurance',
       'Engagio, Bombora, Terminus', 'SAIC, Leidos, Northrop Grumman',
       'Bosch, Lear Corporation, Faurecia', 'Covance, ICON',
       'Adecco, ManpowerGroup, Allegis Corporation',
       'GE Digital, Palantir Technologies, Uptake', 'PRA Group',
       'Genomic Health, 23andMe, Illumina',
       'Bromium, FireEye, Authentic8', 'Drip, iContact, Mailchimp',
       "Children's Health, Texas Health Resources, Baylor Scott & White Health",
       'Harris, Fibertek', 'Monster Worldwide, CareerBuilder, Craigslist',
       'Los Alamos National Laboratory, Battelle, SRI International',
       'ManTech, Booz Allen Hamilton, Leidos',
       'Lumentum Operations, Keysight Technologies, O-Net Technologies',
       'Square, Amazon, Apple', 'Pfizer, GlaxoSmithKline',
       'DHL Supply Chain, UPS, FedEx',
       'Raytheon Technologies, General Dynamics, MIT Lincoln Laboratory',
       'Eaton, SMC Corporation, Bosch Rexroth',
       'Advisory Board, Booz Allen Hamilton, McKinsey & Company',
       'Amazon, Apple', 'Covidien, Boston Scientific', 'AT&T, Verizon',
       'Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories',
       'Fluor, Bechtel, AECOM', 'Intertek, SGS, Bureau Veritas',
       'Lockheed Martin, Caterpillar, John Deere',
       'Activision Blizzard, Electronic Arts',
       'MediaMath, Conversant, AppNexus', 'Pfizer, AstraZeneca, Merck',
       'Archibus, iOffice, Planon',
       'ACRT Services, Bartlett Tree Experts',
       'TASC, Vencore, Booz Allen Hamilton',
       'Seagate Technology, Toshiba',
       'Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton',
       'MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman',
       'Kforce, PageGroup, Robert Half',
       'TEKsystems, Kforce, Randstad US',
       'South Carolina Electric & Gas, Virginia Electric and Power',
       'Cadence Design Systems, Synopsys, Altium Limited',
       'CGI (Nevada), Accenture, Deloitte', 'Accenture, Deloitte, PwC',
       'Bechtel Jacobs, Black & Veatch, HNTB', 'Adecco, Manpower',
       'Acxiom, Merkle, Epsilon (North Carolina)',
       'Amazon, Accenture, Microsoft',
       'Booz Allen Hamilton, Deloitte, ERPi',
       'TEKsystems, Insight Global, Accenture',
       'H&M, Inditex, Fast Retailing',
       'Novartis, AstraZeneca, Siemens Healthineers',
       'Aquent, 24 Seven Talent',
       'Google, Microsoft, Samsung Electronics',
       'AppDynamics, Datadog, Dynatrace',
       'Liberty Mutual Insurance, EMPLOYERS, Travelers',
       'KPMG, Accenture, Deloitte',
       'General Atomics, Boeing, Northrop Grumman',
       'Los Alamos National Laboratory, Lawrence Livermore National Laboratory',
       'Cognizant Technology Solutions, Infosys, Wipro', 'Humana',
       'Accenture, Northrop Grumman, Xerox',
       'United Natural Foods, US Foods, DPI Specialty Foods',
       'LivePerson, Salesforce, SAP', 'Zurich Insurance, AXA XL, Allianz',
       'CSC, ManTech, SAIC',
       'Genomic Health, Myriad Genetics, The Broad Institute'],
      dtype=object)

In [118]:
data['Competitors']=data['Competitors'].replace(['-1'],pd.NA)

In [119]:
data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,137-171,Description The Senior Data Scientist is resp...,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future Join th...",ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),<NA>
2,Data Scientist,137-171,Overview Analysis Group is one of the larges...,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),<NA>
3,Data Scientist,137-171,JOB DESCRIPTION: Do you have a passion for Da...,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137-171,Data Scientist Affinity Solutions / Marketing ...,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

Extraction of Salary Estimate data in Mininum, Maximum and Average Salaries

In [120]:
data['Salary Estimate']=data['Salary Estimate'].str.extract('(\d+-\d+)')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\user\AppData\Local\Temp\ipykernel_8352\4184054492.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Salary Estimate']=data['Salary Estimate'].str.extract('(\d+-\d+)')

In [121]:
data[['Salary Min', 'Salary Max']] = data['Salary Estimate'].str.split('-', expand=True).apply(pd.to_numeric, errors='coerce')

In [122]:
data['Salary Avg']=(data['Salary Min']+data['Salary Max'])/2

In [123]:
data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary Min,Salary Max,Salary Avg
0,Sr Data Scientist,137-171,Description The Senior Data Scientist is resp...,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future Join th...",ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),<NA>,137,171,154.0
2,Data Scientist,137-171,Overview Analysis Group is one of the larges...,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),<NA>,137,171,154.0
3,Data Scientist,137-171,JOB DESCRIPTION: Do you have a passion for Da...,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0
4,Data Scientist,137-171,Data Scientist Affinity Solutions / Marketing ...,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0

Remaning of Salary Columns with proper Denomination

In [125]:
data.rename(columns={'Salary Estimate':'Salary Range in $ per K','Salary Min':'Salary Minimum in $ per K','Salary Max':'Salary Maximum in $ per K','Salary Avg':'Average Salary in $ per K'},inplace=True)

In [126]:
data.head()

,Job Title,Salary Range in $ per K,Job Description,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary Minimum in $ per K,Salary Maximum in $ per K,Average Salary in $ per K
0,Sr Data Scientist,137-171,Description The Senior Data Scientist is resp...,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future Join th...",ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),<NA>,137,171,154.0
2,Data Scientist,137-171,Overview Analysis Group is one of the larges...,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),<NA>,137,171,154.0
3,Data Scientist,137-171,JOB DESCRIPTION: Do you have a passion for Da...,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0
4,Data Scientist,137-171,Data Scientist Affinity Solutions / Marketing ...,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0

In [127]:
data.to_csv('Cleaned_Data_Science_jobs_Dataset.csv')